awscli
backports.ssl-match-hostname
boto3
botocore
pyOpenSSL
chardet
click
colorama
DateTime
decorator
#docker-compose --install-option="--no-cache-dir"
docker-compose
docker-py
docker-pycreds
dockerpty
docopt
docutils
enum34
Flask
Flask-Script
funcsigs
functools32
futures
idna
# iotop
ipaddress
itsdangerous
Jinja2
jmespath
ldap3
Mako
MarkupSafe
mock
#MySQL-python
mysqlclient
ndg-httpsclient
neo4j-driver
pbr
pycodestyle
pexpect
# psycopg2
psycopg2-binary
ptyprocess
py2-ipaddress
pyasn1
pycrypto
pymongo
PyMySQL
python-dateutil
python-editor
python-ldap
pytz
PyYAML
requests
rsa
s3transfer
simplegeneric
six
SQLAlchemy
urllib3
websocket-client
Werkzeug
zope.interface
