[mariadb]
#bind-address=0.0.0.0
innodb_encrypt-tables = FORCE
innodb_encrypt-log
innodb_encryption-threads = 1
plugin_load_add=file_key_management
file_key_management_filename=/keys/keys.enc
file_key_management_filekey=mydbencrypt
file_key_management_encryption_algorithm=AES_CTR
encrypt_binlog    # from video

## Securing the Database with ssl option and certificates ##
## There is no control over the protocol level used. ##
##  mariadb will use TLSv1.0 or better.  ##
ssl
#ssl-cipher=TLSv1.2
ssl_ca=/keys/ca-cert.pem
ssl_cert=/keys/server-cert.pem
ssl_key=/keys/server-key.pem

