{% extends "layout.html" %}
{% block title %} Delete DB- {% endblock %}
{% block head %} {{ super() }}{% endblock %}
{% block content %}
    <div id="container">
        <div class="title">
            <h4>Delete Postgres Container</h4>
        </div> 
        <h2> You must be a superuser on the database to delete it. </h2>
            <div id="content">
                <form method="post" action="{{ url_for('deleted') }}">
                  <label for="dbname">DB/Container Name:</label>
                  <input type="text" name="dbname" list="container_list" placeholder="Container Name" /><br />
                  <datalist id="container_list">
                    {% for o in items %}
                    <option value="{{ o }}">
                    {% endfor %}
                  </datalist><br>
                  <label for="dbuser">DB Username:</label><input type="text" name="dbuser" /><br />
                  <label for="dbuserpass">DB Password:</label><input type="password" name="dbuserpass" /><br />
                <input type="submit" />
                </form>
            </div>
    </div>
    </body>
{% endblock %}
