{% extends "layout.html" %}
{% block title %} Documentation- {% endblock %}
{% block head %} {{ super() }}{% endblock %}
{% block content %}
<div id="container">
  <div class="title">
      <h4>DB4Sci Install</h4>
  </div>
  <div class="document">
    <h2>Congradulations!</h2>

<p>You have successfully downloaded and installed DB4Sci! Thanks for downing we hope you find this software helpful. This demo install is very basic and not indented for production use. After you complete the configurations for your site this instance can be put into production. 

<h4>Configure for Production</h4>
Things to consider...

<pre>
<code>
</code>
</pre>

  </div> <!-- class="document" -->
</div> <!-- id="container" -->
{% endblock %}
