{% extends "layout.html" %}
{% block title %} Documentation- {% endblock %}
{% block head %} {{ super() }}{% endblock %}
{% block content %}
<div id="container">
  <div class="title">
      <h4>Postgres Backup Documentation</h4>
  </div>
  <div class="document">
    <h2>MyDB Postgres Backups</h2>
      MyDB performs full backups every night.  The full backups are sync'd to
      Amazon S3 storage where they are kept for up to six months. The local backups
      are only kept for a few days.

      <h2>User Backup and Recover</h2>
      Users can perform backups for specific tasks like migrations or
      upgrades. Backups can be written to local storage.  We recomend using <kbd>/fh/scratch</kbd>
      for storing backups.
      
      <p>The backup examples assume that you are using .pgpass file to store your
      Postgres credentials. No passwords are needed on the command line.
      Use the scratch file system to save a local copy of your database backup. Change directory to /fh/scracth/xx. 
      Create a new database/container with MyDB to be used for restoring into. The examples utilize the PostgreSQL 
      command line tools. <code>module load PostgreSQL/9.6.1</code>
      
      <p>Create a full backup and save to a local file. <code>
      pg_dump -h mydb -p 320xx -d mydb_admin -U myrootuser -f mydb_backup_today.sql
      </code>
    
      <p>Recover saved backup to a new database.<code>
      psql -h mydb --port=320xx -d recoverdb -U myrootuser -f mydb_backup_today.sql 
      </code>

      <p>Migrate data from one container to another.
      <code>pg_dump -h mydb -p 320xx -d prod_db -U myrootuser | psql  -h mydb --port=320xx -d dev_db -U rootuser</code>

      <p>MyDB creates a single Postgres container with a default database which has the same name. Additional databases can
      be created within the Postgres instance. If you want to choose an alternative database 
      name for the recovery; create a new database on the recovery Postgres DB.
      <code>psql -h mydb -p 32034 -d db_name -U myrootuser -c "CREATE DATABASE recoverdb;"</code>
      Make a new entry in the .pgpass file for each "database".  To recover from an existing database into the
      alternative database; just change the connection string.
      <code>pg_dump -h mydb -p 320xx -d db_name -U myrootuser | psql -h mydb --port=32034 -d recoverdb -U rootuser</code>
      
  
      <p>
      pg_dump will not restore any changes you have made with <kbd>ALTER SYSTEM</kbd>. If you have
      system changes to Postgres you will have to reaplly the changes to the new container.
      

  </div>
  </div>
  {% endblock %}
 </body>
</html>

