{% extends "layout.html" %}
{% block title %} Documentation- {% endblock %}
{% block head %} {{ super() }}{% endblock %}
{% block content %}
<div id="container">
  <div class="title">
    <h4>Documentation</h4>
  </div>
  <div class="document">
    <h2>Overview</h2>
    <p>
    DBaaS allows FHCRC faculty and staff to create stand
    alone database instances. The database instances are created in docker containers 
    on a shared server managed by scicomp. You will not have direct access to the file
    system but you will have superuser permissions to the database instance.
    <b>Current support for these database servers is minimal. </b>
    We will back up your databases, allowing for recovery with data loss of up to 24 hours. We 
    can assist with tuning your database if performance is an issue.
    </p>

    <h2> Creating a database instance</h2>
    <p>
    A dropdown will apear when you hover over <b>"Create DB Container"</b> from the main 
    DBaas page. The dropdown shows the different databae engines that are available.
                    Select one by clicking on its name.
                    Within each create screen you will have the option to select a particluar version of the
                    database. New database engines and updated versions will be made available.
 
                    In the web form we have provided default/recommended values where possible. 
                    These defaults can be altered in the form but at this time: <p>
		        <li> Only basic support level is provided
                        <li> Support is available only during business hours
                        <li> Point in time recovery is not supported 
                        <li> Backups are done nightly 
                        <li> Offsite backups are not removed <p>

    If you have questions about database configuration options and defaults, contact scicomp. <p>

    When you submit this form, a database container will be created with the name in <b>"DB/Container Name"</b>
    field. The default database name will match the container name. The <b>"DB Username"</b> and 
    <b>"DB password"</b> are used to create a database account which will have root privliages for the DB.
    As the root user you will be able to create other user accounts and grand premissions.
    The <b>"Contact Name"</b> and <b>"Contact Email"</b> are the name and email, respectively, of the 
    person or group that Scientific Computing can contact in case of outages or changes to the system. <p>

    A secondary root account is created by Scicomp for the purpose of performing backups.

    <h2> Backups </h2>
                    Nightly full backups are made of your database. The full backups are available locally for a few days.
                    Full backups are copied to Amazon S2. You can list your offsite backups from the main menu with
                    <b>"List S3 Backups"</b>. Database owners can create there own backups using native methods to the 
                    backup engine, or using the <b>"Backup DB Now"</b> command from the main menue.

    <h2> Deleting existing postgres container </h2>
    <p>
    There is a link to "Delete DB Container." This will remove the docker container where the database runs,
    but will not delete the data directory.
    Scicomp manually deletes those files 10 days after the deletion of the container. If you contact scicomp before that time,
    we can recreate the container very easily. If you contact scicomp to restore a deleted container after 10 days, 
    it will take time to restore the databases and may result in data loss. NOTE: in order
    to delete a container, you will need a superuser login and password on the database server.

    <h2> Additional functionality or bugs </h2>
    <p>
    Please report any bugs or submit requests for additional functionality to github issues at https://github.com/FredHutch/DB4SCI.git
  </div>
</div>
{% endblock %}
