{% extends "layout.html" %}
{% block title %} Select Something {% endblock %}
{% block head %} {{ super() }}{% endblock %}

{% block content %}
<div id="container">
  <div class="title">
    <h4>{{ title }}</h4>
  </div>
  <div id="content">
    <form method="get" action="{{ url_for('cloudbackups') }}">
      <br>
      {{ header }} 
      <label for="dbuser">{{ labela }}<label>
      <input type="text" list="container_list" name="container_name" placeholder="Container Name">
      <datalist id="container_list"> 
        {% for o in items %}
        <option value="{{ o }}">
        {% endfor %}
      </datalist><br>
    </form>
  </div id="content">
</div>

{% endblock %}
